# Environment
.env
.env.local
.application-local.properties
# local-only configs
src/main/resources/application-local.properties


# docker volumes / misc
*.log


# Java
target/
*.class
*.jar
*.war
*.ear

# Gradle
.gradle/
build/
/backend/build/

# Maven
.mvn/
!.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
