# Environment
.env
.env.local

# Java
target/
*.class
*.jar
*.war
*.ear

# Gradle
.gradle/
build/
/backend/build/


# Maven
.mvn/
!.mvn/wrapper/maven-wrapper.jar

# H2 / local DB files
*.db
*.mv.db
*.trace.db
/data/
# Local databases
*.mv.db
*.trace.db
backend/data/
# =========================
# IDEs
# =========================
.idea/
.vscode/
*.iml

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
# Local DB / data
backend/data/
*.mv.db
*.trace.db
