# Environment
.env
.env.local
*-local.properties
.application-local.properties

# Java
target/
*.class
*.jar
*.war
*.ear

# Gradle
.gradle/
build/
/backend/build/

# Maven
.mvn/
!.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
